# Configuración de base de datos PostgreSQL para Dokploy (Misma red interna)
ConnectionStrings__Postgres=Host=att-attdb-h5grml;Port=5432;Database=ATT;Username=postgres;Password=RmgENZmGOSKm9XcsLPYg;
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:5000
